body {
    width: 900px;
    background: #d2d2c1 url('../img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;


}


#container {
    width: 900px;
}


nav {
    background: #c5c5b2;
    padding: 18px;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #4b566a;
    padding: 5px;
}

section {
    background-color: white;
    padding: 10px;
}

section h1 {
    color: #828271;
    font-size: 16px;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
}

.foto-campanha {
    border: 10px solid #c3c3ae;
}


footer {
    margin: 10px 0 0;
    text-align: center;
    font-weight: bold;
}

.contato p {
    font-weight: bold;
    font-style: italic;
}